:root {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;

  --transition_properties: ease-in-out 300ms;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  max-width: 600px;
  max-width: 70%;
  margin: 5% auto 0 auto;
  padding: 10px 20px;

  display:flex;
  align-items: flex-start;
}

@media (max-width:600px) {
  .card {
    flex-wrap: wrap;
  }
}

.text-wrapper {
  flex-basis: 70%;
}

.card_name {
  margin: 0 0 20px 0;

  font-size: 30px;
  font-family: 'Roboto Slab', serif;
}

.card_main-text {
  margin: 0 0 20px 0;

  font-size: 16px;
  text-align: justify;
}

.card_photo {
  max-width: 400px;
  max-height: 400px;

  flex-basis: 30%;

  clip-path: circle(30% at 53% 30%);
  transition: transform var(--transition_properties);
}

.card_photo:hover {
  transform: scale(1.03);
  transition: transform var(--transition_properties);
}

.card_contacts {
  margin: 0;
  padding: 0;

  list-style: none;
}

.card_contacts .card_contact {
  display: inline-block;
  margin: 0 5px 5px 0;

  vertical-align: top;
}

.card_contact--email a {
  color: #000;

  transition: all var(--transition_properties);
}

.card_contact--email a:hover {
  color: tomato;

  transition: all var(--transition_properties);
}

.card_contact--fb a,
.card_contact--twitter a {
  display: block;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 20px auto;

  transition: background-image var(--transition_properties);
}

.card_contact--fb a {
  background-image: url('/img/facebook.png');

  transition: background-image var(--transition_properties);
}

.card_contact--fb a:hover {
  background-image: url('/img/facebook_tomato.png');

  transition: background-image var(--transition_properties);
}

.card_contact--twitter a {
  background-image: url('/img/twitter.png');
}

.card_contact--twitter a:hover {
  background-image: url('/img/twitter_tomato.png');
}

.caption-info {
  position: fixed;
  bottom: 0;
  left: auto;
  right: 0;

  font-size: 12px;
}

.caption-info__text a {
  color: auto;

  transition: all var(--transition_properties);
}

.caption-info__text a:hover {
  color: tomato;

  transition: all var(--transition_properties);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}